@import "../../_variables";
@import "../../_mixins";

.toolbar {
  @include bar-menu;
  border-left: 2px solid var(--border-lines-color);
  min-width: var(--min-toolbar-width);
  max-width: var(--max-toolbar-width);
  display: flex;
  flex-direction: column;
  &Disable {
    min-width: var(--compact-bar-width);
    max-width: var(--compact-bar-width);
    width: var(--compact-bar-width);
    border-left: 2px solid var(--border-lines-color);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  @media (max-width: 800px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (max-width: 576px) {
    min-width: 100%;
    max-width: 100%;
    z-index: 20;
  }
}

.toolbarMobile { 
  z-index: 18;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-lines-color);
  background-color: var(--bar-color);
  padding: 0 10px;
  box-sizing: border-box;
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  svg {
    fill: var(--main-text-color);
    height: 24px;
  }
}
