@import "./../../_mixins";

.btnToogle {
  @include toogle-bar-btn;
  @include btn-hover-active;
}

.head {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  img {
    height: 24px;
  }
  .btnToogle {
    .svgBtn {
      fill: var(--btn-color);
      height: 20px;
      &Left {
        rotate: 180deg;
      }
    }
  }
}