@import "../../variables";
@import "../../_mixins";

.sidebar {
  @include bar-menu;
  border-right: 2px solid var(--border-lines-color);
  min-width: var(--min-sidebar-width);
  max-width: var(--max-sidebar-width);
  &Disable {
    width: 30px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--border-lines-color);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  @media (max-width: 800px) {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media (max-width: 576px) {
    min-width: 100%;
    max-width: 100%;
    z-index: 22;
  }
}

.sidebarMobile {
  min-height: 30px;
  height: 30px;
  z-index: 20;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-lines-color);
  background-color: var(--bar-color);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
